* {
    margin-top: 20px;
}
.books-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    flex-direction: column;
    /* background-color: #f8eee7; */
}
.author_book {
    max-width: 400px;
    margin: 60px 0;
}
.author_pic {
    float: right;
    max-width: 60px;
    border-radius: 50%;
    margin: 0  0 35px 0;
}

@media screen and (max-width : 999px) {
    .author_book { 
        margin: 60px 0;
        max-width: 250px;
    }
    .margin-top { 
        margin-top: 80px;
    }
}